<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Info</title>
</head>
<body>
    <span th:text="#{view_id}" />: <span th:text="${student.id}"></span><br>
    <span th:text="#{view_pwd}" />: <span th:text="${student.password}"></span><br>
    <span th:text="#{view_name}" />: <span th:text="${student.name}"></span><br>
    <span th:text="#{view_email}" />: <span th:text="${student.email}"></span><br>
    <span th:text="#{view_score}" />: <span th:text="${student.score >= 0 ? student.score : '???'}"></span><br>
    <span th:text="#{view_comment}" />: <span th:text="${student.comment}"></span><br>

    <a th:href="@{/student/{studentId}/modify(studentId=${student.id})}" th:text="#{view_modify}" />

    <br />
    <form action="/student/logout" method="post">
        <button
                type="submit"
                style="background: none; border: none; color: blue; text-decoration: underline; cursor: pointer;"
                th:text="#{logout}"
        />
    </form>

    <br/>
    <br/>
    <a href="?locale=ko">ko</a><br />
    <a href="?locale=en">en</a><br />

</body>
</html>