<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>사용자 수정</title>
</head>
<body>
    <form method="post" th:action="@{/student/{studentId}/modify(studentId=${student.id})}">
        <span th:text="#{view_id}" />:    <input type="text" name="id" th:value="${student.id}" readonly/><br />
        <span th:text="#{view_pwd}" />:  <input type="password" name="password" th:value="${student.password}"/><br />
        <span th:text="#{view_name}" />:     <input type="text" name="name" th:value="${student.name}" /><br />
        <span th:text="#{view_email}" />:    <input type="text" name="email" th:value="${student.email}" /><br />
        <span th:text="#{view_score}" />:     <input type="number" name="score" th:value="${student.score}" /><br />
        <span th:text="#{view_comment}" />:     <textarea name="comment" rows="4" cols="50" th:text="${student.comment}"></textarea><br />
        <input type="submit" th:value="#{submit}"/>
    </form>

    <br />
    <a href="?locale=ko">ko</a><br />
    <a href="?locale=en">en</a><br />
</body>
</html>