<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>사용자 등록</title>
</head>
<body>
    <form method="post" action="/student/register">
        <span th:text="#{view_id}" />:    <input type="text" name="id" /><br />
        <span th:text="#{view_pwd}" />:  <input type="password" name="password" /><br />
        <span th:text="#{view_name}" />:     <input type="text" name="name"  /><br />
        <span th:text="#{view_email}" />:    <input type="text" name="email"  /><br />
        <span th:text="#{view_score}" />:     <input type="number" name="score"  /><br />
        <span th:text="#{view_comment}" />:     <textarea name="comment" rows="4" cols="50" ></textarea><br />
        <input type="submit" th:value="#{submit}"/>
    </form>

    <br />
    <a href="?locale=ko">ko</a><br />
    <a href="?locale=en">en</a><br />

</body>
</html>